
body {
  margin: 0;
}

.app-container {
  --dark-brown       : #1d1715;
  --light-gray       : #e6e6e6;
  --light-yellow     : #feffed;
  --that-red         : hsl(0, 88%, 33%);
  --that-lighter-red : hsl(0, 88%, 43%);

  --footer-bg-color : var(--light-gray);
  --footer-fg-color : var(--that-red);
  --header-bg-color : var(--that-red);
  --header-fg-color : var(--light-yellow);
  --video-bg-color  : var(--dark-brown);

  display        : flex;
  flex-direction : column;
  height         : 100%;
  left           : 0;
  position       : absolute;
  top            : 0;
  width          : 100%;
}

.header {
  background : var(--header-bg-color);
  color      : var(--header-fg-color);
  flex       : 0 1;
  text-align : center;
}

.header h1 {
  margin: 0;
}

.video-container {
  flex: 1;
}

.video-container video {
  background: var(--video-bg-color);
  width: 100%;
}

.records {
  flex: 0 1;
}

.records-list-wrapper {
  overflow-x: scroll;
}

ul.records-list {
  background: var(--footer-bg-color);
  color: var(--footer-fg-color);
  height: 52px;
  list-style: none;
  margin: 0;
  padding: 2px;
  white-space: nowrap;
}

li.records-item {
  background: var(--light-yellow);
  border-radius: 2px;
  display: inline-block;
  font-size: 1.5em;
  height: 50px;
  line-height: 50px;
  margin: 1px 2px;
  text-align: center;
  width: 50px;
}

.footer {
  background : var(--footer-bg-color);
  color      : var(--footer-fg-color);
  flex       : 0 1;
  text-align : center;
}

.footer .toggle-record-btn {
  background    : var(--that-lighter-red);
  border        : none;
  border-radius : 2.5em;
  display       : inline-block;
  height        : 5em;
  margin        : 5px 0;
  padding       : 0.2em 0 0 0.3em;
  width         : 5em;
}

.footer .toggle-record-btn:focus {
  box-shadow : 0 0 0 2pt var(--dark-brown);
  outline    : none;
}

.footer .toggle-record-btn svg {
  fill: var(--light-yellow);
}